<footer class="site-footer">
  <div class="site-footer__inner">
    <p class="site-footer__title">Bar Hill Cricket Club</p>
    <div class="site-footer__links">
      <a href="/contact.html">Contact</a>
      <a href="/membership.html">Membership</a>
      <a href="/season.html">Fixtures</a>
      <a href="mailto:info@barhillcricket.org.uk">info@barhillcricket.org.uk</a>
    </div>
    <div class="site-footer__icons">
      <a href="/" title="Home"><img src="/images/icon_web.jpg" alt="Home"></a>
      <a href="mailto:info@barhillcricket.org.uk" title="Email"><img src="/images/icon_email.jpg" alt="Email"></a>
      <a href="https://www.twitter.com/barhillcc" title="Twitter / X"><img src="/images/icon_twitter.jpg" alt="Twitter"></a>
      <a href="https://www.facebook.com" title="Facebook"><img src="/images/icon_facebook.jpg" alt="Facebook"></a>
    </div>
  </div>
</footer>
